*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */

.main-header{
    width: 100%;
    padding: 20px;
}


.plan-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

/* --------------------------------------------------------*/

/* main section */

.meal-plan{
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    
}

.meal-title{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.meal-list{
    margin-bottom: 30px;
}

.meal-list a{
    color: black;
    text-decoration: none;
    font-size: larger;
}

/* --------------------------------------------------------*/

/* Tables section*/

.nutritional-info{
    width: 100%;
}

caption{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    
}

/* Styles for array class */
.food-table {
    width: 50%; /* width of table */
    margin: 0 auto; /* Center the table horizontally */
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

/* Styles for table cells (<td>) */
.food-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

/* Styles for table headers (<th>) */
.food-table th {
    background-color: #f2f2f2; /* Grey background color for headers */
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

/* Styles for even lines (alternating colors) */
.food-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Background color for even lines */
}

/* --------------------------------------------------------*/

/* footer space  */

footer div{
    height: 80px;
}

/* --------------------------------------------------------*/

/* responsive design for phone  */


@media screen and (max-width:500px) {
    .plan-title{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 31px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
    }

    caption{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 27px;
        margin-bottom: 40px;
        
    }

    .food-table {
        width: 90%; /* Ajustez la largeur du tableau selon vos préférences */
        margin: 0 auto; /* Centre le tableau horizontalement */
        border-collapse: collapse;
        font-family: Arial, sans-serif; /* Choisissez une police de caractères */
    }
}

/* --------------------------------------------------------*/